.menu-btn {
  cursor: pointer;
  background: none;
  border: none;
  height: 1.2rem;
  width: 3rem;
  position: relative;
  border-radius: 0.3rem;
  /* padding: 0.8rem; */
}
.menu-btn:focus {
  outline: none;
}
.menu-btn__inner {
  position: relative;
  height: 100%;
}
.menu-btn__top,
.menu-btn__middle,
.menu-btn__bottom {
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  transition: all 0.3s ease-out;
}
.menu-btn__top {
  top: 0;
}
.menu-btn__middle {
  top: 50%;
  transform: translateY(-50%);
}
.menu-btn__bottom {
  bottom: 0;
}
.menu-btn.active .menu-btn__top {
  transform: rotate(225deg);
  top: 50%;
}
.menu-btn.active .menu-btn__middle {
  transform: rotate(45deg);
  top: 50%;
  opacity: 0;
}
.menu-btn.active .menu-btn__bottom {
  transform: rotate(-225deg);
  top: 50%;
}
