/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 
Medium: 
Semi-bold: 
Bold: 

- Line heights
Default: 
Small: 
Medium: 
Paragraph default: 
Large 


- Primary: #164DA8;


- Tints: 

- Shades:
- Accents:
- Greys:

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 3px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16 px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1;
  font-weight: 400;
}

hr {
  height: 1px;
  border-width: 0;
  color: #555;
  background-color: #555;
}

/***************************/
/* GENERAL COMPONENTS */
/***************************/

.container {
  max-width: 144rem;
  padding: 0 7rem;
  margin: 0 auto;
}

.header-box {
  max-width: 144rem;
}

.heading-primary,
.heading-secondary {
  font-size: 4.8rem;
  font-family: "Barlow", sans-serif;
}

/***************************/
/* BUTTON */
/***************************/

.btn {
  display: flex;
  background: none;
  height: 5.5rem;
  color: #fff;
  padding: 1.5rem 2.4rem;
  border-radius: 0.3rem;
  justify-content: center;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  /* width: 100%; */
}

.btn img {
  margin-right: 1.5rem;
}

.btn--nav {
  border: 1px solid #fff;
  color: #fff;
}

.btn--colored {
  border: none;
  background-color: #164da8;
}

.btn--inverted {
  border: 1px solid #164da8;
  color: #164da8;
}

.heading-secondary {
  text-align: center;
}
