/**************************/
/* BELOW 768px (Phones) */
/**************************/

@media (max-width: 48em) {
  .container {
    padding: 0 2rem;
    margin: 0 auto;
  }

  hr {
    height: 1px;
    border-width: 0;
    color: #ffffff;
    background-color: #ffffff;
    opacity: 0.33;
  }

  .heading-primary,
  .heading-secondary {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  /***************************/
  /* HEADER */
  /***************************/

  .logo {
    height: 5rem;
    margin: 2rem auto;
  }

  /***************************/
  /* NAVIGATION */
  /***************************/

  .main-nav {
    background-color: #164da8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transition: all 0.3s ease-in-out;

    /* opacity: 0; */
    pointer-events: none;
    visibility: hidden;
    display: flex;
    flex-direction: column;

    padding-top: 15rem;
    padding-bottom: 3rem;
  }

  .main-nav--center {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo {
    position: relative;
    z-index: 5;
  }

  .nav-open .main-nav {
    /* opacity: 1; */
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .btn--nav {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    overflow-y: auto;
    margin: 0 auto;
    min-width: 40rem;
  }

  .main-nav-link {
    padding-right: 5rem;
  }

  .main-nav-list__item {
    position: relative;
  }

  .main-nav-link::after {
    content: url(../img/icons/chevron-icon.svg);
    position: absolute;
    top: 0;
    right: 0;
  }

  .main-nav-link--last {
    display: block;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  .main-nav-link:hover,
  .main-nav-link:active {
    color: #8aa6d3;
  }

  .btn-mobile-nav {
    display: block;
  }

  .menu-btn {
    display: inline-block;
  }

  /* STICKY NAVIGATION */
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }

  /***************************/
  /* HERO */
  /***************************/

  .section-hero {
    background-size: 165%;
    height: 24rem;
    margin-top: 9.1rem;
    /* margin-bottom: 1rem; */
  }

  .heading-primary__colored-part {
    display: block;
  }

  /***************************/
  /* FORM */
  /***************************/

  .section-form {
    background: linear-gradient(to bottom, #000 51.4rem, #164da80d 11.8rem);
    padding-bottom: 3.5rem;
    padding-top: 1rem;
  }

  .form {
    /* height: 62rem; */
    padding: 2.4rem 2rem 3rem;
    /* transform: translateY(-8rem); */
  }

  .form-main {
    grid-template-columns: 1fr;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .form-button {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    row-gap: 1rem;
  }

  /***************************/
  /* CTA SECTION */
  /***************************/

  .section-cta br {
    display: none;
  }

  .section-cta {
    padding: 0 2rem;
    margin-bottom: 3.5rem;
  }

  .section-cta-content-box {
    background-size: 100%;
  }
  .heading--cta {
    margin-bottom: 3.4rem;
  }

  /***************************/
  /* REGISTERED CARS SECTION */
  /***************************/

  .heading--reg-cars {
    margin-bottom: 1.9rem;
  }

  .divider {
    width: 1.5rem;
    height: 0.5rem;
    border-radius: 1rem;
    background-color: #164da8;
    margin-bottom: 2.5rem;
  }

  .cars {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }

  .car__banner-box {
    justify-self: center;
    width: 31rem;
    min-height: 40rem;
  }

  .registered-cars-content-box {
    margin-bottom: 4rem;
  }

  /***************************/
  /* ABOUT US SECTION */
  /***************************/

  .about-us {
    margin-bottom: 0rem;
  }

  .about-us__container {
    padding-top: 3.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
  }

  .about-us__box {
    grid-template-columns: 1fr;
  }

  .about-us__img {
    object-fit: contain;
    grid-row: 1;
  }

  .heading--about-us {
    margin-bottom: 1.9rem;
  }

  .about-us__container .divider {
    margin-bottom: 1.4rem;
  }

  .about-us__text {
    line-height: 2.6rem;
    color: #454545;
    margin-bottom: 4rem;
    margin-right: 0rem;
  }

  /***************************/
  /* TESTIMONIALS SECTION */
  /***************************/

  .testimonials {
    /* padding: 4rem; */
    padding: 3.1rem 4rem 4rem;
    margin-bottom: 3.2rem;
  }

  .testimonial-icon {
    margin-bottom: 1.5rem;
  }

  .testimonial {
    width: 100%;
    padding: 3rem 2rem;
  }

  .heading--testimonials {
    margin-bottom: 1.9rem;
  }
  .testimonial-text {
    font-family: "Noto Sans JP";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #454545;
    text-align: center;
    margin-bottom: 2.4rem;
    text-align: left;
  }

  /***************************/
  /* FOOTER SECTION */
  /***************************/

  .footer-nav {
    flex-direction: column;
    height: 100%;
  }

  .contacts {
    flex-direction: column;
  }

  .heading-primary,
  .heading-secondary {
    font-size: 3.2rem;
    line-height: 3.8rem;
    font-family: "Barlow", sans-serif;
    text-align: center;
  }

  .footer-logo-box {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  .footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .footer-nav {
    padding: 4.6rem 3rem 4.7rem;
  }

  .contacts {
    gap: 3rem;
    padding-top: 3.9rem;
    padding-bottom: 5rem;
  }
}

/* @media (max-width: 560px) {
  .logo {
    height: 4rem;
    margin: 1rem auto;
  }
  
  .main-nav {
    display: none;
  }
  
  .btn--nav {
    display: block;
    margin: 1rem auto;
  }
  
  .btn-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  } */

@media (max-width: 36em) {
  .main-nav-list {
    margin: 0;
    min-width: 0;
  }
}
