/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)  
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/***************************/
/* HEADER */
/***************************/

.logo {
  height: 5.5rem;
  margin: 3rem auto;
}

.header {
  align-items: center;
  position: absolute;
  width: 100%;
  font-family: "Barlow", sans-serif;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/***************************/
/* NAVIGATION */
/***************************/

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #8aa6d3;
}

.heading-primary,
.heading-secondary {
  font-size: 4.8rem;
  font-family: "Barlow", sans-serif;
}

.heading-primary__colored-part {
  color: #e8dfc9;
}

/***************************/
/* HERO */
/***************************/

.section-hero {
  background-color: #000000;
  background-image: url(../img/hero-img.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  height: 48.2rem;
}

/***************************/
/* FORM */
/***************************/

.form {
  display: inline-block;
  width: 105rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.075);
  transform: translateY(-10rem);
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #164da80d;
}

.form-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-additional {
  display: none;
  margin: 3rem 0;
}

.form-additional hr {
  height: 1px;
  border-width: 0;
  color: #dae2f2;
  background-color: #dae2f2;
}

.first-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem 0;
  gap: 1.5rem;
}

.second-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3rem 0;
  gap: 1.5rem;
}

.form-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}

.form-group {
  font-size: 1.4rem;
  width: 400;
  line-height: 2rem;
}

.form-box label {
  display: block;
  margin-bottom: 1.1rem;
}

.form-box select {
  background-color: #f7f9fb;
  border: 1px solid #dae2f2;
  border-radius: 0.3rem;
  padding: 1.8rem 1.5rem;
  width: 100%;
  color: #666f80;
}

/***************************/
/* CTA SECTION */
/***************************/

.section-cta {
  background-color: #164da80d;
  margin-bottom: 10rem;
}

.section-cta-content-box {
  padding-bottom: 11rem;
  background-image: url(../img/Vector_3.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 64.7rem auto;
  position: relative;
  max-width: 144rem;
  margin: 0 auto;
  text-align: center;
}

.heading--cta {
  margin-bottom: 4rem;
  align-items: center;
}

.heading-cta-text-weight-300 {
  font-weight: 300;
}

.img-cta {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

/***************************/
/* SECTION REGISTERED CARS */
/***************************/

.heading--reg-cars {
  margin-bottom: 3rem;
}

.car-img {
  object-fit: cover;
  width: 100%;
  height: 19.4rem;
}

.cars {
  display: grid;
  text-align: start;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 5rem;
}

.car-header {
  /* width: 31rem; */
  padding: 2rem;
}

.car-title {
  font-family: "Barlow";
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-bottom: 0.4rem;
}

.car-tag {
  /* font-family: "Noto Sans JP"; */
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #666f80;
}

.properties-list {
  list-style: none;
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 2rem 2rem 2.1rem;
}

.list-item {
  color: #666f80;
  display: flex;
  justify-content: space-between;
}

.list-item:not(:last-child) {
  margin-bottom: 0.8rem;
}

.list-item b {
  color: #111111;
  font-weight: normal;
}

.list-item--date b {
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  font-weight: 700;
  color: #164da8;
}

.car hr {
  height: 1px;
  border-width: 0;
  color: #dae2f2;
  background-color: #dae2f2;
}

.car {
  border-radius: 0.3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.registered-cars-content-box {
  text-align: center;
  margin-bottom: 11rem;
}

.car__banner-box {
  background-color: #e2e5e9;
  border-radius: 0.3rem;
  padding: 2rem;

  /* width: 31rem; */
  /* height: 40rem; */
}

.car__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Barlow";
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  opacity: 0.33;
  border: 1px dashed rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

/***************************/
/* SECTION ABOUT US */
/***************************/

.about-us {
  background-color: #fff;
  margin-bottom: 9rem;
}

.heading--about-us {
  margin-bottom: 3rem;
}

.about-us__container .divider {
  margin-bottom: 3.9rem;
}

.about-us__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 144rem;
  margin: 0 auto;
}

.about-us h2 {
  text-align: left;
}

.about-us__text {
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #454545;
  margin-bottom: 4.4rem;
  margin-right: 6rem;
}

.about-us__container {
  text-align: left;
  padding-top: 9rem;
  padding-left: 7rem;
  padding-bottom: 3rem;
}

.about-us__img {
  object-fit: cover;
  width: 100%;
  height: 59.2rem;
}

/***************************/
/* SECTION TESTIMONIALS */
/***************************/

.testimonials {
  margin-bottom: 16.2rem;
}

.heading--testimonials {
  margin-bottom: 3rem;
}

.testimonial {
  text-align: center;
  box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  margin: 0 auto;
}

.testimonial {
  width: 80rem;
  background-color: #fff;
  padding: 5rem 4rem 5.6rem;
  text-align: center;
}

.testimonial-icon {
  margin-bottom: 3.5rem;
}

.testimonial-text {
  font-family: "Barlow";
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 3.4rem;
  text-align: center;
  margin-bottom: 4.3rem;
}

.testimonial-autor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.testimonial-autor-info {
  margin-left: 1.5rem;
  text-align: center;
}

.testimonial-name {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
}

.testimonial-job-title {
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
}

/***************************/
/* SECTION FOOTER */
/***************************/
.footer {
  background-color: #111;
}

.footer-logo-box {
  padding-top: 7rem;
  padding-bottom: 6.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  height: 5.6rem;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 5rem;
  letter-spacing: 0.1em;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  gap: 5.3rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  font-family: Barlow;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #fff;
}

.contacts-icon {
  margin-right: 1.7rem;
}

.footer-link {
  text-decoration: none;
  color: #fff;
  display: flex;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #fff;
}

.footer-link:hover,
.footer-link:active {
  color: #8aa6d3;
}

.copyright {
  display: flex;
}
