/***************************/
/* ABOUT US SECTION */
/***************************/

.about-us {
  background-color: #fff;
  margin-bottom: 9rem;
}

.heading--about-us {
  margin-bottom: 3rem;
}

.about-us__container .divider {
  margin-bottom: 3.9rem;
}

.about-us__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 144rem;
  margin: 0 auto;
}

.about-us h2 {
  text-align: left;
}

.about-us__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #454545;
  margin-bottom: 4.4rem;
  margin-right: 6rem;
}

.about-us__container {
  text-align: left;
  padding-top: 9rem;
  padding-left: 7rem;
  padding-bottom: 3rem;
}

.about-us__img {
  object-fit: cover;
  width: 100%;
}

@media (max-width: 48em) {
  .about-us {
    margin-bottom: 0rem;
  }

  .about-us__container {
    padding-top: 3.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
  }

  .about-us__box {
    grid-template-columns: 1fr;
  }

  .about-us__img {
    object-fit: contain;
    grid-row: 1;
  }

  .heading--about-us {
    margin-bottom: 1.9rem;
  }

  .about-us__container .divider {
    margin-bottom: 1.4rem;
  }

  .about-us__text {
    line-height: 2.6rem;
    color: #454545;
    margin-bottom: 4rem;
    margin-right: 0rem;
  }
}
